@model DictionaryOfWords.Web.Models.ViewListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Переводы слов</h1>

<p>
    <a asp-action="Create">Добавыить новый</a>
</p>

<p id="filterWordFrom" hidden>  </p>
<p id="filterLanguageFrom" hidden>  </p>
<p id="filterWordTo" hidden>  </p>
<p id="filterLanguageTo" hidden>  </p>

@Html.HiddenFor(model => model.PageCount)

<form asp-action="IndexUser" asp-controller="WordTranslation" method="post">
    <div class="form-group">
        <div class="form-group">
            <label asp-for="@Model.WordTranslationFilter.WordFrom" class="control-label"></label>
            <input asp-for="@Model.WordTranslationFilter.WordFrom" class="form-control" />
            <span asp-validation-for="@Model.WordTranslationFilter.WordFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.WordTranslationFilter.LanguageFrom" class="control-label"></label>
            <input asp-for="@Model.WordTranslationFilter.LanguageFrom" class="form-control" />
            <span asp-validation-for="@Model.WordTranslationFilter.LanguageFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.WordTranslationFilter.WordTo" class="control-label"></label>
            <input asp-for="@Model.WordTranslationFilter.WordTo" class="form-control" />
            <span asp-validation-for="@Model.WordTranslationFilter.WordTo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.WordTranslationFilter.LanguageTo" class="control-label"></label>
            <input asp-for="@Model.WordTranslationFilter.LanguageTo" class="form-control" />
            <span asp-validation-for="@Model.WordTranslationFilter.LanguageTo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Поиск" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.WordTranslationModels[0].WordFromName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordTranslationModels[0].LanguageFromName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordTranslationModels[0].WordToName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordTranslationModels[0].LanguageToName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<button onclick="GetCustomers('wordTranslationFilter', GetFilter(), '@Url.Action("GetDataOfPage", "WordTranslation")')" type="button" id="further" class="btn btn-primary btn-success">Далее</button>
<script src="~/js/selectPages.js"></script>
<script src="~/js/selectWordTranslation.js"></script>

<script type="text/javascript">
    $(function () {
        $("#filterWordFrom").text($("#WordTranslationFilter_WordFrom").val());
        $("#filterLanguageFrom").text($("#WordTranslationFilter_LanguageFrom").val());
        $("#filterWordTo").text($("#WordTranslationFilter_WordTo").val());
        $("#filterLanguageTo").text($("#WordTranslationFilter_LanguageTo").val());
        GetCustomers('wordTranslationFilter', GetFilter(), '@Url.Action("GetDataOfPage", "WordTranslation")');
        setButtonFurther();
    });

    function GetFilter() {
        return {
            wordFrom: $("#filterWordFrom").text(),
            languageFrom: $("#filterLanguageFrom").text(),
            wordTo: $("#filterWordTo").text(),
            languageTo: $("#filterLanguageTo").text()
        };
    }

    function OnSuccess(data, pageNum) {
        let trtable = '';
        let idNumberIndex = (pageNum - 1) * 20;
        let numberToUser = idNumberIndex;
        for (let i = 0; i < data.length; i++) {
            numberToUser++;
            trtable += '<tr>';
            trtable += '<td>';
            trtable += numberToUser;
            trtable += '</td>';
            trtable += '<td>';
            trtable += data[i].wordfromname;
            trtable += '</td>';
            trtable += '<td>';
            trtable += data[i].languagefromname;
            trtable += '</td>';
            trtable += '<td>';
            trtable += data[i].wordtoname;
            trtable += '</td>';
            trtable += '<td>';
            trtable += data[i].languagetoname;
            trtable += '</td>';
            trtable += '<td>';
            trtable += '<a href="">Редактировать</a>';
            trtable += '</td>';
            trtable += '</tr>';
            idNumberIndex++;
        }
        $('.table > tbody:last-child').append(trtable);
    }


</script>