@model DictionaryOfWords.Web.Models.ViewListModel

@{
    Layout = "~/Views/Shared/_LayoutForList.cshtml";
}

<h1>Языки</h1>

<p>
    <a asp-action="Create">Добавить новый язык</a>
</p>

<p id="filterName" hidden>  </p>

<pre id="messageResultOperation"></pre>

@Html.HiddenFor(model => model.PageCount)

<div class="form-group">
    <button type="button" onclick="ChangeCheckBoxVal()" id="bottunChangeCheckBox" class="btn btn-primary btn-success">Выделить все</button>
    <button onclick="OnDeleteEvenList('@Url.Action("DeleteMultiJson", "Language")', '@Url.Action("Index", "Language")')" type="button" class="btn btn-primary btn-success">Удалить</button>
</div>

<form asp-action="Index" asp-controller="Language" method="post">
    <div class="form-group">
        <div class="form-group">
            <label asp-for="@Model.LanguageFilter.Name" class="control-label"></label>
            <input asp-for="@Model.LanguageFilter.Name" class="form-control" />
            <span asp-validation-for="@Model.LanguageFilter.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Поиск" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageModels[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<button onclick="GetCustomers('languageFilter', GetFilter(), '@Url.Action("GetLanguageModelOfPage", "Language")')" type="button" id="further" class="btn btn-primary btn-success">Далее</button>


<script type="text/javascript">
    $(function () {
        $("#filterName").text($("#LanguageFilter_Name").val());
        GetCustomers('languageFilter', GetFilter(), '@Url.Action("GetLanguageModelOfPage", "Language")');
        setButtonFurther();
    });
    
    function GetFilter() {
        return { name: $("#filterName").text() };
    }

    function OnDeleteEvenList(urlDelete, urlAfterDelete) {
        var tableInfo = convertTableToJson();
        let deleteModel = {
            "languageModels": tableInfo,
            isDelete: true
        };
        OnDeleteList(deleteModel, urlDelete, urlAfterDelete);
    }

    function OnSuccess(data, pageNum) {
        let trtable = '';
        let idNumberIndex = (pageNum - 1) * 20;
        let numberToUser = idNumberIndex;
        for (let i = 0; i < data.length; i++) {
            numberToUser++;
            trtable += '<tr>';
            trtable += '<td><input data-val="true" id="viewModel_' + idNumberIndex +'__Id" type="hidden" value=' + data[i].id + '></td>';
            trtable += '<td>';
            trtable += numberToUser;
            trtable += '</td>';
            trtable += '<td>';
            trtable += '<input type="checkbox" class = "isDelete" id="viewModel_' + idNumberIndex + '__IsDelete">';
            trtable += '</td>';
            trtable += '<td>';
            trtable += data[i].name;
            trtable += '</td>';
            trtable += '<td>';
            trtable += '<a href=/Language/Edit/' + data[i].id +'>Редактировать</a>';
            trtable += '</td>';
            trtable += '</tr>';
            idNumberIndex++;
        }
        $('.table > tbody:last-child').append(trtable);
    }


</script>