@model DictionaryOfWords.Web.Models.ViewListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Языки</h1>

<p>
    <a asp-action="Create">Добавить новый язык</a>
</p>

@if (!string.IsNullOrEmpty(Model.Error))
{
    <p>
        @Model.Error
    </p>
}

<form asp-action="DeleteMulti">
    <div class="form-group">
        <button type="button" onclick="ChangeCheckBoxVal()" id="bottunChangeCheckBox">Выделить все</button>
        <input type="submit" value="Удалить" class="btn btn-primary" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>...</p>
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LanguageModels[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.LanguageModels.Count; i++)
            {
            <tr>
                @Html.HiddenFor(modelItem => Model.LanguageModels[i].Id)
                <td>
                    <input asp-for="@Model.LanguageModels[i].IsDelete" class="isDelete" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.LanguageModels[i].Name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = Model.LanguageModels[i].Id })
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>